{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- DAVID OYINKURO ZIPAMONE  ALSO KNOWN AS DAVID OZ -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Adeda offers quality sneaker brand in Africa, that sells
    quality sneaker to its customers directly from the manufacturer">
    <meta name="author" content="David Oyinkuro Zipamone also Known as David Oz">
    <link rel="icon" type="image/png" href="{% static 'img/fav-icon.png'%}">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/slider/slider.css' %}">
    <link href="{% static 'vendor/select2/css/select2-bootstrap.css' %}"/>
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href=" {% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css" rel="stylesheet'%}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.css'%}">
</head>
<body>
<div class="bg-light">
<div class="header-top border-bottom bg-white">
<div class="container">
<div class="row">
<div class="col-lg-12">
<ul class="list-inline float-right mb-0">
<li class="list-inline-item border-right border-left py-1 pr-2 mr-2 pl-2">
<a href="#"><i class="icofont icofont-iphone"></i> +234-708-690-8085</a>
</li>
<li class="list-inline-item border-right py-1 pr-2 mr-2">
<a href="contact-us.html"><i class="icofont icofont-headphone-alt"></i> Contact Us</a>
</li>
<li class="list-inline-item">
<span>Download App</span> &nbsp;
<a href="#"><i class="icofont icofont-brand-windows"></i></a>
<a href="#"><i class="icofont icofont-brand-apple"></i></a>
<a href="#"><i class="icofont icofont-brand-android-robot"></i></a>
</li>
</ul>
<p class="mb-0 py-1">DELIVERY AVAILABLE &amp; ABROAD SHIPPING AVAILABLE  <span class="text-danger font-weight-bold">$499</span></p>
</div>
</div>
</div>
</div>
<div class="main-nav shadow-sm">
<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0 pb-0">
<div class="container">
<a class="navbar-brand" href="index.html">
<img src="img/logo.png" alt="Adeda">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto main-nav-left">
<li class="nav-item">
<a class="nav-link" href="index.html"><i class="icofont-ui-home"></i></a>
</li>
<li class="nav-item dropdown mega-drop-main">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
WOMEN
</a>
<div class="dropdown-menu mega-drop  shadow-sm border-0" aria-labelledby="navbarDropdown">
<div class="row ml-0 mr-0">
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Easy Wear</a>

</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Sport shoes</a>

</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Sneaker for girl</a>

</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Footwear</a>

</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Addidas</a>

</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Brand sneaker</a>

</div>
</div>
</div>
</div>
</li>
<li class="nav-item dropdown mega-drop-main">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
MEN</a>
<div class="dropdown-menu mega-drop  shadow-sm border-0" aria-labelledby="navbarDropdown">
<div class="row ml-0 mr-0">
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Most ordered</a>

</div>
 </div>
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Special Brand</a>

</div>
</div>
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Customised Sneaker</a>

</div>
</div>
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Footwear</a>

</div>
</div>
</div>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="product-grid.html">SALE</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
PAGES
</a>
<div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
<a class="dropdown-item" href="product-grid.html">Product List</a>
<a class="dropdown-item" href="product-detail.html">Product Detail</a>
<a class="dropdown-item" href="checkout.html">Checkout</a>
<a class="dropdown-item" href="profile.html">My Account</a>
<a class="dropdown-item" href="about-us.html">About Us</a>
<a class="dropdown-item" href="faq.html">FAQ</a>
<a class="dropdown-item" href="contact-us.html">Contact Us</a>
</div>
</li>
</ul>
<form class="form-inline my-2 my-lg-0 top-search">
<button class="btn-link" type="submit"><i class="icofont-search"></i></button>
<input class="form-control mr-sm-2" type="search" placeholder="Search for products, brands and more" aria-label="Search">
</form>
<ul class="navbar-nav ml-auto profile-nav-right">
<li class="nav-item dropdown">
<a class="nav-link ml-0 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img alt="Generic placeholder image" src="img/user/1.png" class="nav-Adeda-pic rounded-pill"> My Account
</a>
<div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
<a class="dropdown-item" href="profile.html"><i class="icofont-ui-user"></i> My Profile</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-location-pin"></i> My Address</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-heart"></i> Wish List</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-list"></i> Order List</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-file-document"></i> Order Status</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-logout"></i> Logout</a>
</div>
</li>
<li class="nav-item cart-nav">
<a data-toggle="offcanvas" class="nav-link" href="#">
<i class="icofont-basket"></i> Cart
<span class="badge badge-danger">5</span>
</a>
</li>
</ul>
</div>
</div>
</nav>
</div>
</div>
<section class="py-4 bg-light inner-header">
<div class="container">
<div class="row d-flex align-items-center">
<div class="col-lg-6 col-md-6">
<h4 class="mt-0 mb-0 text-dark">
Contact Us
</div>
<div class="col-lg-6 col-md-6 text-right">
<div class="breadcrumbs">
<p class="mb-0"><a href="#"><i class="icofont-ui-home"></i> Home</a> / <span>Contact Us</span></p>
</div>
</div>
</div>
</div>
</section>


<section class="py-5 bg-light border-top">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4">
<div class="p-4 h-100 bg-white rounded overflow-hidden position-relative shadow-sm">
<h4 class="mt-0 mb-4 text-dark">Get In Touch</h4>
<h6 class="text-dark"><i class="icofont-location-pin pr-1"></i> Address :</h6>
<p class="pl-4">Road 3B,RumuEkini,Today FM, Portharcourt, Rivers state.Nigeria.</p>
<h6 class="text-dark"><i class="icofont-smart-phone pr-1"></i> Phone :</h6>
<p class="pl-4">+234-808-8557-267,+234-708-690-8085</p>
<h6 class="text-dark"><i class="icofont-mobile-phone pr-1"></i> Mobile :</h6>
<p class="pl-4">+234-808-8557-267,+234-708-690-8085</p>
<h6 class="text-dark"><i class="icofont-email pr-1"></i> Email :</h6>
<p class="pl-4">Adeda@gmail.com, info@Adeda.com</p>

</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="p-4 bg-white rounded overflow-hidden position-relative shadow-sm">
<h4 class="mt-0 mb-4 text-dark">Feedback</h4>
<form name="sentMessage" id="contactForm" novalidate>
<div class="control-group form-group">
<div class="controls">
<label>Full Name <span class="text-danger">*</span></label>
<input type="text" placeholder="Full Name" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
<p class="help-block"></p>
</div>
</div>
<div class="row">
<div class="control-group form-group col-md-6">
<label>Phone Number <span class="text-danger">*</span></label>
<div class="controls">
<input type="tel" placeholder="Phone Number" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
</div>
</div>
<div class="control-group form-group col-md-6">
<div class="controls">
<label>Email Address <span class="text-danger">*</span></label>
<input type="email" placeholder="Email Address" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
</div>
</div>
</div>
<div class="control-group form-group">
<div class="controls">
<label>Message <span class="text-danger">*</span></label>
<textarea rows="4" cols="100" placeholder="Message" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
</div>
</div>
<div id="success"></div>

<button type="submit" class="btn btn-primary btn-sm float-right">Send Message</button>
</form>
</div>
</div>
<div class="col-lg-4 col-md-4">
<div class="h-100 p-4 bg-white rounded overflow-hidden position-relative shadow-sm">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109552.19658195564!2d75.78663251672796!3d30.900473637371658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a837462345a7d%3A0x681102348ec60610!2sLudhiana%2C+Punjab!5e0!3m2!1sen!2sin!4v1530462134939" width="100%" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
</section>


<footer class="bg-white border-bottom border-top">
<div class="container">
<div class="row no-gutters">
<div class="col-md-4">
<div class="border-right py-5 pr-5">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">TOP CATEGORIES</h6>
<div class="row no-gutters">
<div class="col-6">
<ul class="list-unstyled mb-0">
    <li><a href="#">Sneeker for Men</a></li>
    <li><a href="#">Sneeker for women</a></li>
    <li><a href="#">Sneeker for Girls</a></li>
    <li><a href="#">Sneeker for boys</a></li>
    <li><a href="#">Sneeker for Sports</a></li>
</ul>
</div>
<div class="col-6">
<ul class="list-unstyled mb-0">

</ul>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="border-right py-5 px-5">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">ABOUT US</h6>
<div class="row no-gutters">
<div class="col-6">
<ul class="list-unstyled mb-0">
<li><a href="#">History</a></li>
<li><a href="#">Band of Trust</a></li>
<li><a href="#">Brand Guidelines</a></li>
</a>
</li>
</ul>
</div>
<div class="col-6">
<ul class="list-unstyled mb-0">
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Offers</a></li>
</ul>
</div>
 </div>
</div>
</div>
<div class="col-md-4">
<div class="py-5 pl-5">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">DOWNLOAD APP</h6>
<div class="app">
<a href="#">
<img class="img-fluid" src="img/google.png">
</a>
<a href="#">
<img class="img-fluid" src="img/apple.png">
</a>
</div>
<h6 class="mt-4 mb-4 f-14 text-dark font-weight-bold">KEEP IN TOUCH</h6>
<div class="footer-social">
<a class="btn-facebook" href="#"><i class="icofont-facebook"></i></a>
<a class="btn-twitter" href="#"><i class="icofont-twitter"></i></a>
<a class="btn-instagram" href="#"><i class="icofont-instagram"></i></a>
<a class="btn-whatsapp" href="#"><i class="icofont-whatsapp"></i></a>
<a class="btn-messenger" href="#"><i class="icofont-facebook-messenger"></i></a>
<a class="btn-google" href="#"><i class="icofont-google-plus"></i></a>
</div>
</div>
</div>
</div>
</div>

</footer>
<div class="popular-tag py-5">
<div class="container">
<div class="row">
<div class="col-lg-12">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">POPULAR SEARCHES</h6>
<p class="mb-0">
    <a href="#">Sandals</a> &nbsp; | &nbsp; <a href="#">Sport Shoes</a> &nbsp; | &nbsp; <a href="#">Reebok Shoes</a> &nbsp; | &nbsp; 
<a href="#">Puma Shoes</a> &nbsp; | &nbsp;<a href="#">Nike shoes</a> &nbsp; | &nbsp; <a href="#">Addidas shoes</a>&nbsp; | &nbsp; 
<a href="#">Addidas Sports</a> &nbsp; | &nbsp; <a href="#">Nike Sports</a> &nbsp; | &nbsp; <a href="#">Spike shoes</a> &nbsp; | &nbsp; 
<a href="#">Soccer shoes</a> &nbsp; | &nbsp; <a href="#">Nike
Shoes</a> &nbsp; | &nbsp; <a href="#">Puma Sports</a> &nbsp; | &nbsp; <a href="#">Puma</a>&nbsp; | &nbsp; <a href="#">Adidas Spike</a>
 &nbsp; | &nbsp;

</p>
</div>
</div>
</div>
</div>
<div class="copyright bg-light py-3">
<div class="container">
<div class="row">
<div class="col-md-6 d-flex align-items-center">
<p class="mb-0">© Copyright 2022 <a href="#">Adeda</a> . All Rights Reserved
</p>
</div>
<div class="col-md-6 text-right">
<img class="img-fluid" src="img/payment_methods.png">
</div>
</div>
</div>
</div>
<div class="cart-sidebar">
<div class="cart-sidebar-header">
<h5>
My Cart <span class="text-info">(5 item)</span> <a data-toggle="offcanvas" class="float-right" href="#"><i class="icofont icofont-close-line"></i>
</a>
</h5>
</div>
<div class="cart-sidebar-body">
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/1.jpg" alt="">
<span class="badge badge-success">50% OFF</span>
<h5><a href="#">Gucci</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 135.00 <del class="small text-secondary">&#8358 500.00 </del></p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/2.jpg" alt="">
<span class="badge badge-danger">55% OFF</span>
<h5><a href="#">New Balance</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 250.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-info rounded-sm pl-1 ml-1 pr-1 text-white small">NEW</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/3.jpg" alt="">
<span class="badge badge-info">NEW</span>
<h5><a href="#">Prada</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 900.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/4.jpg" alt="">
<span class="badge badge-danger">NEW</span>
<h5><a href="#">Dior</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 135.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/5.jpg" alt="">
<span class="badge badge-info">NEW</span>
<h5><a href="#">Nike</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 135.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
</div>
<div class="cart-sidebar-footer">
<div class="cart-store-details">
<p>Sub Total <strong class="float-right">&#8358 900.69</strong></p>
<p>Delivery Charges <strong class="float-right text-danger">+ &#8358 29.69</strong></p>
<h6>Your total savings <strong class="float-right text-danger">&#8358 55 (42.31%)</strong></h6>
</div>
<a href="checkout.html"><button class="btn btn-primary btn-lg btn-block text-left" type="button"><span class="float-left"><i class="icofont icofont-cart"></i> Proceed to Checkout </span><span class="float-right"><strong>&#8358 1200.69</strong> <span class="icofont icofont-bubble-right"></span></span></button></a>
</div>
</div>

<script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %} "></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>

<script src="{% static 'vendor/owl-carousel/owl.carousel.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>

<script src="{% static 'js/custom.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>


<script src="{% static 'js/jqBootstrapValidation.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>
<script src="{% static 'js/contact_me.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>
<script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="28fd6fa3f0eab5eae3d2555d-|49" defer=""></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6edec65178147198","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>


</html>