{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Adeda offers quality sneaker brand in Africa, that sells quality sneaker to its customers directly from the manufacturer">
    <meta name="author" content="David Oyinkuro Zipamone also Known as David Oz">
    <link rel="icon" type="image/png" href="{% static 'img/fav-icon.png'%}">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/slider/slider.css' %}">
    <link href="{% static 'vendor/select2/css/select2-bootstrap.css' %}"/>
    <link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %} " rel="stylesheet">

    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
    
    
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/owl.theme.css'%}">
</head>
<body>
<div class="bg-light shadow-sm">
<div class="header-top border-bottom bg-white">
<div class="container">
<div class="row">
<div class="col-lg-12">
<ul class="list-inline float-right mb-0">
<li class="list-inline-item border-right border-left py-1 pr-2 mr-2 pl-2">
<a href="#"><i class="icofont icofont-iphone"></i> +234-708-690-8085</a>
</li>
<li class="list-inline-item border-right py-1 pr-2 mr-2">
<a href="contact-us.html"><i class="icofont icofont-headphone-alt"></i> Contact Us</a>
</li>
<li class="list-inline-item">
<span>Download App</span> &nbsp;
<a href="#"><i class="icofont icofont-brand-windows"></i></a>
<a href="#"><i class="icofont icofont-brand-apple"></i></a>
<a href="#"><i class="icofont icofont-brand-android-robot"></i></a>
</li>
</ul>
<p class="mb-0 py-1">DELIVERY AVAILABLE &amp; ABROAD SHIPPING AVAILABLE <span class="text-danger font-weight-bold">&#8358 499</span></p>
</div>
</div>
</div>
</div>
<div class="main-nav shadow-sm">
<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0 pb-0">
<div class="container">
<a class="navbar-brand" href="index.html">
<img src="img/logo.png" alt="Adeda">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto main-nav-left">
<li class="nav-item">
<a class="nav-link" href="index.html"><i class="icofont-ui-home"></i></a>
</li>
<li class="nav-item dropdown mega-drop-main">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
WOMEN
</a>
<div class="dropdown-menu mega-drop  shadow-sm border-0" aria-labelledby="navbarDropdown">
<div class="row ml-0 mr-0">
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Easy Wear</a>
<!--<a href="product-grid.html">Bras & Lingerie Sets</a>
<a href="product-grid.html">Rain Jackets</a>-->
</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Sport shoes</a>
<!--<a href="product-grid.html"> Jeans</a>
<a href="product-grid.html">Formal Shirts</a>-->
</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Sneaker for girl</a>
<!--<a href="product-grid.html">Sweaters</a>
<a href="product-grid.html">Sweatshirts</a>-->
</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Footwear</a>
<!--<a href="product-grid.html">Casual Shoes</a>
<a href="product-grid.html">Sweatshirts</a>-->
</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Addidas</a>
<!--<a href="product-grid.html">Bras & Lingerie Sets</a>
<a href="product-grid.html">Rain Jackets</a>-->
</div>
</div>
<div class="col-lg-2 col-md-2">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Brand sneaker</a>
<!--<a href="product-grid.html"> Jeans</a>
<a href="product-grid.html">Formal Shirts</a>-->
</div>
</div>
</div>
</div>
</li>
<li class="nav-item dropdown mega-drop-main">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
MEN</a>
<div class="dropdown-menu mega-drop  shadow-sm border-0" aria-labelledby="navbarDropdown">
<div class="row ml-0 mr-0">
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Most ordered</a>
<!--<a href="product-grid.html">T-Shirts</a>
<a href="product-grid.html">Rain Jackets</a>-->
</div>
 </div>
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Special Brand</a>
<!--<a href="product-grid.html">Sweaters</a>
<a href="product-grid.html">Sweatshirts</a>-->
</div>
</div>
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Customised Sneaker</a>
<!--<a href="product-grid.html"> Jeans</a>
<a href="product-grid.html">Formal Shirts</a>-->
</div>
</div>
<div class="col-lg-3 col-sm-3 col-xs-3 col-md-3">
<div class="mega-list">
<a class="mega-title" href="product-grid.html">Footwear</a>
<!--<a href="product-grid.html">Casual Shoes</a>
<a href="product-grid.html">Formal Shirts</a>-->
</div>
</div>
</div>
</div>
</li>
<li class="nav-item">
<a class="nav-link" href="product-grid.html">SALE</a>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
PAGES
</a>
<div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
<a class="dropdown-item" href="product-grid.html">Product List</a>
<a class="dropdown-item" href="product-detail.html">Product Detail</a>
<a class="dropdown-item" href="checkout.html">Checkout</a>
<a class="dropdown-item" href="profile.html">My Account</a>
<a class="dropdown-item" href="about-us.html">About Us</a>
<a class="dropdown-item" href="faq.html">FAQ</a>
<a class="dropdown-item" href="contact-us.html">Contact Us</a>
</div>
</li>
</ul>
<form class="form-inline my-2 my-lg-0 top-search">
<button class="btn-link" type="submit"><i class="icofont-search"></i></button>
<input class="form-control mr-sm-2" type="search" placeholder="Search for products, brands and more" aria-label="Search">
</form>
<ul class="navbar-nav ml-auto profile-nav-right">
<li class="nav-item dropdown">
<a class="nav-link ml-0 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<img alt="Generic placeholder image" src="img/user/1.png" class="nav-adeda-pic rounded-pill"> My Account
</a>
<div class="dropdown-menu dropdown-menu-right shadow-sm border-0">
<a class="dropdown-item" href="profile.html"><i class="icofont-ui-user"></i> My Profile</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-location-pin"></i> My Address</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-heart"></i> Wish List</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-list"></i> Order List</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-file-document"></i> Order Status</a>
<a class="dropdown-item" href="profile.html"><i class="icofont-logout"></i> Logout</a>
</div>
</li>
<li class="nav-item cart-nav">
 <a data-toggle="offcanvas" class="nav-link" href="#">
<i class="icofont-basket"></i> Cart
<span class="badge badge-danger">5</span>
</a>
</li>
</ul>
</div>
</div>
</nav>
</div>
</div>
<section class="py-5 products-listing bg-light">
<div class="container">
<div class="row">
<div class="col-md-3">
<div class="filters mobile-filters shadow-sm rounded bg-white mb-4 d-none d-block d-md-none">
<div class="border-bottom">
<a class="h6 font-weight-bold text-dark d-block m-0 p-3" data-toggle="collapse" href="#mobile-filters" role="button" aria-expanded="false" aria-controls="mobile-filters">Filter By <i class="icofont-arrow-down float-right mt-1"></i></a>
</div>
<div id="mobile-filters" class="filters-body collapse multi-collapse">
<div id="accordion">
<div class="filters-card border-bottom p-3">
<div class="filters-card-header" id="headingOffer">
<h6 class="mb-0">
<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseSort" aria-expanded="true" aria-controls="collapseSort">
Sort by Products <i class="icofont-arrow-down float-right"></i>
</a>
</h6>
</div>
<div id="collapseSort" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
<div class="filters-card-body card-shop-filters">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda111">
<label class="custom-control-label" for="adeda111">Relevance </label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda112">
<label class="custom-control-label" for="adeda112">Price (Low to High)
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda113">
<label class="custom-control-label" for="adeda113">Price (High to Low)
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda114">
<label class="custom-control-label" for="adeda114">Discount (High to Low)
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda115">
<label class="custom-control-label" for="adeda115">Name (A to Z)
</label>
</div>
</div>
</div>
</div>
<div class="filters-card border-bottom p-3">
<div class="filters-card-header" id="headingTwo">
 <h6 class="mb-0">
<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
All Category
<i class="icofont-arrow-down float-right"></i>
</a>
</h6>
</div>
<div id="collapsetwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
<div class="filters-card-body card-shop-filters">
<form class="filters-search mb-3">
<div class="form-group">
<i class="icofont-search"></i>
<input type="text" class="form-control" placeholder="Start typing to search...">
</div>
</form>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda116">
<label class="custom-control-label" for="adeda116">Puma <small class="text-black-50">156</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda117">
<label class="custom-control-label" for="adeda117">Adidas <small class="text-black-50">120</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda118">
<label class="custom-control-label" for="adeda118">Gucci<small class="text-black-50">130</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda119">
<label class="custom-control-label" for="adeda119">Adidas <small class="text-black-50">120</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda110">
<label class="custom-control-label" for="adeda110"> Reebok<small class="text-black-50">111</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1111">
<label class="custom-control-label" for="adeda1111"> Dior <small class="text-black-50">95</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1122">
<label class="custom-control-label" for="adeda1122"> New Balance <small class="text-black-50">50</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1133">
<label class="custom-control-label" for="adeda1133"> Versace <small class="text-black-50">32</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1144">
<label class="custom-control-label" for="adeda1144"> Prada <small class="text-black-50">156</small></label>
</div>
<div class="mt-2"><a href="#" class="link">See all</a></div>
</div>
</div>
</div>
<div class="filters-card border-bottom p-3">
<div class="filters-card-header" id="headingOne">
<h6 class="mb-0">
<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Brand <i class="icofont-arrow-down float-right"></i>
</a>
</h6>
</div>
<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
<div class="filters-card-body card-shop-filters">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1155">
<label class="custom-control-label" for="adeda1155">Brand 1 <small class="text-black-50">230</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1166">
<label class="custom-control-label" for="adeda1166">Brand 2 <small class="text-black-50">95</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1177">
<label class="custom-control-label" for="adeda1177">Brand 3 <small class="text-black-50">35</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1188">
<label class="custom-control-label" for="adeda1188">Brand 4 <small class="text-black-50">46</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1199">
<label class="custom-control-label" for="adeda1199">Brand 5 <small class="text-black-50">20</small></label>
</div>
<div class="mt-2"><a href="#" class="link">See all</a></div>
</div>
</div>
</div>
<div class="filters-card border-bottom p-3">
<div class="filters-card-header" id="headingOffer">
<h6 class="mb-0">
<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOffer" aria-expanded="true" aria-controls="collapseOffer">
Price <i class="icofont-arrow-down float-right"></i>
</a>
</h6>
</div>
<div id="collapseOffer" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
<div class="filters-card-body card-shop-filters">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda1100">
<label class="custom-control-label" for="adeda1100">Any Price </label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11111">
<label class="custom-control-label" for="adeda11111">&#8358 50 - &#8358 100
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11222">
<label class="custom-control-label" for="adeda11222">&#8358 100 - &#8358 150
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11333">
<label class="custom-control-label" for="adeda11333">&#8358 150 - &#8358 200
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11444">
<label class="custom-control-label" for="adeda11444">&#8358 200 - &#8358 1000
</label>
</div>
<div class="mt-2"><a href="#" class="link">See all</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="filters shadow-sm rounded bg-white mb-3 d-none d-sm-none d-md-block">
<div class="filters-header border-bottom pl-4 pr-4 pt-3 pb-3">
<h5 class="m-0 text-dark">Filter By</h5>
</div>
<div class="filters-body">
<div id="accordion">
<div class="filters-card border-bottom p-4">
<div class="filters-card-header" id="headingTwo">
<h6 class="mb-0">
<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
All Category
<i class="icofont-arrow-down float-right"></i>
</a>
</h6>
</div>
<div id="collapsetwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
<div class="filters-card-body card-shop-filters">
<form class="filters-search mb-3">
<div class="form-group">
<i class="icofont-search"></i>
<input type="text" class="form-control" placeholder="Start typing to search...">
</div>
</form>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11q">
<label class="custom-control-label" for="adeda11q">Adidas <small class="text-black-50">156</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11w">
<label class="custom-control-label" for="adeda11w">Puma <small class="text-black-50">120</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11e">
<label class="custom-control-label" for="adeda11e">Gucci<small class="text-black-50">130</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11r">
<label class="custom-control-label" for="adeda11r"> Dior <small class="text-black-50">120</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11y">
<label class="custom-control-label" for="adeda11y"> Dolce & Gabbana <small class="text-black-50">111</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11u">
<label class="custom-control-label" for="adeda11u"> New Balance <small class="text-black-50">95</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11i">
<label class="custom-control-label" for="adeda11i"> Charks <small class="text-black-50">50</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11p">
<label class="custom-control-label" for="adeda11p">Nike <small class="text-black-50">32</small></label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11po">
<label class="custom-control-label" for="adeda11po"> Prada <small class="text-black-50">156</small></label>
</div>
<div class="mt-2"><a href="#" class="link">See all</a></div>
</div>
</div>
</div>
<div class="filters-card border-bottom p-4">
<div class="filters-card-header" id="headingOne">
<h6 class="mb-0">
<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Brand <i class="icofont-arrow-down float-right"></i>
</a>
</h6>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
<div class="filters-card-body card-shop-filters">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11z">
<label class="custom-control-label" for="adeda11z">Brand 1 <small class="text-black-50">230</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11zz">
<label class="custom-control-label" for="adeda11zz">Brand 2 <small class="text-black-50">95</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11zzz">
<label class="custom-control-label" for="adeda11zzz">Brand 3 <small class="text-black-50">35</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11x">
<label class="custom-control-label" for="adeda11x">Brand 4 <small class="text-black-50">46</small>
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11xx">
<label class="custom-control-label" for="adeda11xx">Brand 5 <small class="text-black-50">20</small></label>
</div>
<div class="mt-2"><a href="#" class="link">See all</a></div>
</div>
</div>
</div>
<div class="filters-card border-bottom p-4">
<div class="filters-card-header" id="headingOffer">
<h6 class="mb-0">
<a href="#" class="btn-link" data-toggle="collapse" data-target="#collapseOffer" aria-expanded="true" aria-controls="collapseOffer">
Price <i class="icofont-arrow-down float-right"></i>
</a>
</h6>
</div>
<div id="collapseOffer" class="collapse" aria-labelledby="headingOffer" data-parent="#accordion">
<div class="filters-card-body card-shop-filters">
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11cc">
<label class="custom-control-label" for="adeda11cc">Any Price </label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11c">
 <label class="custom-control-label" for="adeda11c">&#8358 50 - &#8358 100
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11v">
<label class="custom-control-label" for="adeda11v">&#8358 100 - &#8358 150
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11vv">
<label class="custom-control-label" for="adeda11vv">&#8358150 - &#8358 200
</label>
</div>
<div class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input" id="adeda11gg">
<label class="custom-control-label" for="adeda11gg">&#8358 200 - &#8358 1000
</label>
</div>
<div class="mt-2"><a href="#" class="link">See all</a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<img src="img/offer-2.png" class="w-100 bg-white rounded overflow-hidden position-relative shadow-sm d-none d-sm-none d-md-block" alt="...">
</div>
<div class="col-md-9">
<div class="shop-head mb-3">
<div class="btn-group float-right mt-2 d-none d-sm-none d-md-block">
<button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="icofont icofont-filter"></span> Sort by Products &nbsp;&nbsp;
</button>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="#">Relevance</a>
<a class="dropdown-item" href="#">Price (Low to High)</a>
<a class="dropdown-item" href="#">Price (High to Low)</a>
<a class="dropdown-item" href="#">Discount (High to Low)</a>
<a class="dropdown-item" href="#">Name (A to Z)</a>
</div>
</div>
<h5 class="mb-1 text-dark">Topwear</h5>
<a href="#"><span class="icofont icofont-ui-home"></span> Home</a> <span class="icofont icofont-thin-right"></span> <a href="#">Topwear</a> <span class="icofont icofont-thin-right"></span> <span>Sweatshirts</span>
</div>
<div class="row">
<div class="col-6 col-md-4">
<div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
<span class="like-icon"><a href="#"> <i class="icofont icofont-heart"></i></a></span>
<a href="#">
<span class="badge badge-danger">NEW</span>
<img src="img/item/1.jpg" class="card-img-top" alt="..."></a>
<div class="card-body">
<h6 class="card-title mb-1">New Balance</h6>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
 <p class="mb-0 text-dark">&#8358 135.00 <span class="text-black-50"><del>&#8358 500.00 </del></span></p>
</div>
</div>
</div>
<div class="col-6 col-md-4">
<div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
<span class="like-icon"><a href="#"> <i class="icofont icofont-heart"></i></a></span>
<a href="#">
<span class="badge badge-success">50% OFF</span>
<img src="img/item/2.jpg" class="card-img-top" alt="..."></a>
<div class="card-body">
<h6 class="card-title mb-1">Prada</h6>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark">&#8358 135.00 <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span></p>
</div>
</div>
</div>
<div class="col-6 col-md-4">
<div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
<span class="like-icon"><a class="active" href="#"> <i class="icofont icofont-heart"></i></a></span>
<a href="#">
<span class="badge badge-danger">NEW</span>
<img src="img/item/3.jpg" class="card-img-top" alt="..."></a>
<div class="card-body">
<h6 class="card-title mb-1">Versace</h6>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark">&#8358 135.00 <span class="bg-info rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span></p>
</div>
</div>
</div>
<div class="col-6 col-md-4">
<div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
<span class="like-icon"><a href="#"> <i class="icofont icofont-heart"></i></a></span>
<a href="#">
<span class="badge badge-success">50% OFF</span>
<img src="img/item/4.jpg" class="card-img-top" alt="..."></a>
<div class="card-body">
<h6 class="card-title mb-1">Guocci</h6>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="mb-0 text-dark">&#8358 135.00 <span class="text-black-50"><del>&#8358 500.00 </del></span></p>
</div>
</div>
</div>
<div class="col-6 col-md-4">
<div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
<a href="#">
<span class="badge badge-danger">NEW</span>
<img src="img/item/5.jpg" class="card-img-top" alt="..."></a>
<div class="card-body">
 <h6 class="card-title mb-1">Reebok</h6>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="mb-0 text-dark">&#8358 135.00 <span class="text-black-50"><del>&#8358 500.00 </del></span></p>
</div>
</div>
</div>
<div class="col-6 col-md-4">
<div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
<span class="like-icon"><a class="active" href="#"> <i class="icofont icofont-heart"></i></a></span>
<a href="#">
<span class="badge badge-success">50% OFF</span>
<img src="img/item/6.jpg" class="card-img-top" alt="..."></a>
<div class="card-body">
<h6 class="card-title mb-1">Dior</h6>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="mb-0 text-dark">&#8358 135.00 <span class="text-black-50"><del>&#8358 500.00 </del></span></p>
</div>
</div>
</div>
<div class="col-md-12 text-center load-more">
<button class="btn btn-primary btn-sm" type="button" disabled>
<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
Loading...
</button>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<footer class="bg-white border-bottom border-top">
<div class="container">
<div class="row no-gutters">
<div class="col-md-4">
<div class="border-right py-5 pr-5">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">TOP CATEGORIES</h6>
<div class="row no-gutters">
<div class="col-6">
<ul class="list-unstyled mb-0">
    <li><a href="#">Sneeker for Men</a></li>
    <li><a href="#">Sneeker for women</a></li>
    <li><a href="#">Sneeker for Girls</a></li>
    <li><a href="#">Sneeker for boys</a></li>
    <li><a href="#">Sneeker for Sports</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="border-right py-5 px-5">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">ABOUT US</h6>
<div class="row no-gutters">
<div class="col-6">
<ul class="list-unstyled mb-0">
<li><a href="#">History</a></li>
<li><a href="#">Band of Trust</a></li>
<li><a href="#">Brand Guidelines</a></li>
</a>
</li>
</ul>
</div>
<div class="col-6">
<ul class="list-unstyled mb-0">
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Careers</a></li>
<li><a href="#">Offers</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="py-5 pl-5">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">DOWNLOAD APP</h6>
<div class="app">
<a href="#">
<img class="img-fluid" src="img/google.png">
</a>
<a href="#">
<img class="img-fluid" src="img/apple.png">
</a>
</div>
<h6 class="mt-4 mb-4 f-14 text-dark font-weight-bold">KEEP IN TOUCH</h6>
<div class="footer-social">
<a class="btn-facebook" href="#"><i class="icofont-facebook"></i></a>
<a class="btn-twitter" href="#"><i class="icofont-twitter"></i></a>
<a class="btn-instagram" href="#"><i class="icofont-instagram"></i></a>
<a class="btn-whatsapp" href="#"><i class="icofont-whatsapp"></i></a>
<a class="btn-messenger" href="#"><i class="icofont-facebook-messenger"></i></a>
<a class="btn-google" href="#"><i class="icofont-google-plus"></i></a>
</div>
</div>
</div>
</div>
</div>

</footer>
<div class="popular-tag py-5">
<div class="container">
<div class="row">
<div class="col-lg-12">
<h6 class="mt-0 mb-4 f-14 text-dark font-weight-bold">POPULAR SEARCHES</h6>
<p class="mb-0">
    <a href="#">Sandals</a> &nbsp; | &nbsp; <a href="#">Sport Shoes</a> &nbsp; | &nbsp; <a href="#">Reebok Shoes</a> &nbsp; | &nbsp; 
<a href="#">Puma Shoes</a> &nbsp; | &nbsp;<a href="#">Nike shoes</a> &nbsp; | &nbsp; <a href="#">Addidas shoes</a>&nbsp; | &nbsp; 
<a href="#">Addidas Sports</a> &nbsp; | &nbsp; <a href="#">Nike Sports</a> &nbsp; | &nbsp; <a href="#">Spike shoes</a> &nbsp; | &nbsp; 
<a href="#">Soccer shoes</a> &nbsp; | &nbsp; <a href="#">Nike
Shoes</a> &nbsp; | &nbsp; <a href="#">Puma Sports</a> &nbsp; | &nbsp; <a href="#">Puma</a>&nbsp; | &nbsp; <a href="#">Adidas Spike</a>
 &nbsp; | &nbsp;

</p>
</div>
</div>
</div>
</div>
<div class="copyright bg-light py-3">
<div class="container">
<div class="row">
<div class="col-md-6 d-flex align-items-center">
<p class="mb-0">© Copyright 2022 <a href="#">ADEDA</a> . All Rights Reserved
</p>
</div>
<div class="col-md-6 text-right">
<img class="img-fluid" src="img/payment_methods.png">
</div>
</div>
</div>
</div>
<div class="cart-sidebar">
<div class="cart-sidebar-header">
<h5>
My Cart <span class="text-info">(5 item)</span> <a data-toggle="offcanvas" class="float-right" href="#"><i class="icofont icofont-close-line"></i>
</a>
</h5>
</div>
<div class="cart-sidebar-body">
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/1.jpg" alt="">
<span class="badge badge-success">50% OFF</span>
<h5><a href="#">Adidas</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 135.00 <del class="small text-secondary">&#8358  500.00 </del></p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/2.jpg" alt="">
<span class="badge badge-danger">55% OFF</span>
<h5><a href="#">Nike</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 250.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-info rounded-sm pl-1 ml-1 pr-1 text-white small">NEW</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/3.jpg" alt="">
<span class="badge badge-info">NEW</span>
<h5><a href="#">Puma</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 900.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/4.jpg" alt="">
<span class="badge badge-danger">NEW</span>
<h5><a href="#">Prada</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">$135.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
<div class="cart-list-product">
<a class="float-right remove-cart" href="#"><i class="icofont icofont-close-circled"></i></a>
<img class="img-fluid" src="img/item/5.jpg" alt="">
<span class="badge badge-info">NEW</span>
<h5><a href="#">Versace</a></h5>
<div class="stars-rating"><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star active"></i><i class="icofont icofont-star"></i> <span>613</span></div>
<p class="f-14 mb-0 text-dark float-right">&#8358 135.00 <del class="small text-secondary">&#8358 500.00 </del> <span class="bg-danger  rounded-sm pl-1 ml-1 pr-1 text-white small"> 50% OFF</span> </p>
<span class="count-number float-left">
<button class="btn btn-outline-secondary  btn-sm left dec"> <i class="icofont-minus"></i> </button>
<input class="count-number-input" type="text" value="1" readonly="">
<button class="btn btn-outline-secondary btn-sm right inc"> <i class="icofont-plus"></i> </button>
</span>
</div>
</div>
<div class="cart-sidebar-footer">
<div class="cart-store-details">
<p>Sub Total <strong class="float-right">&#8358 900.69</strong></p>
<p>Delivery Charges <strong class="float-right text-danger">+ &#8358 29.69</strong></p>
<h6>Your total savings <strong class="float-right text-danger">&#8358 55 (42.31%)</strong></h6>
</div>
<a href="checkout.html"><button class="btn btn-primary btn-lg btn-block text-left" type="button"><span class="float-left"><i class="icofont icofont-cart"></i> Proceed to Checkout </span><span class="float-right"><strong>&#8358 1200.69</strong> <span class="icofont icofont-bubble-right"></span></span></button></a>
</div>
</div>

<script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %} "></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>

<script src="{% static 'vendor/owl-carousel/owl.carousel.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>

<script src="{% static 'js/custom.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>


<script src="{% static 'js/jqBootstrapValidation.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>
<script src="{% static 'js/contact_me.js' %}" type="28fd6fa3f0eab5eae3d2555d-text/javascript"></script>
<script src="{% static 'cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="28fd6fa3f0eab5eae3d2555d-|49" defer=""></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"6edec65178147198","version":"2021.12.0","r":1,"token":"dd471ab1978346bbb991feaa79e6ce5c","si":100}' crossorigin="anonymous"></script>
</body>
</html>